@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

*{
    padding: 0;
    margin: 0 auto;
}

.my_font{
    font-family: 'Bagel Fat One', cursive;
}

.logo{
    width: 100px;
    height: 100px;
}

header{
    background-color: #CAEACE;
}

.main_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_head_bar{
    width: 800px;
    display: flex;
    list-style: none;
    border: 3px solid white;
    padding: 20px;
}
  
li {
    display: flex;
    width: 80px;
    font-size: 20px;
    margin-left: 10px;
}

.login, .join{
    width: 80px;
    height: 20px;
    background-color: white;
    border: none;
    margin: 10px;
}

/*-------------------------------------------*/

main{
    display: flex;
    width: 1500px;
    justify-content: space-between;
    margin-top: 10px;
}

aside, section{
    width: 480px;
}

.calender, .to_do{
    height: 300px;
    border: 2px solid #CAEACE;
    padding: 5px;
}

.cal_select{
    display: flex;
    justify-content: space-between;
}

/*-------------------------------------------*/

.schedule_table{
    border: 2px solid #a2bca5;
}

th, td{
    text-align: center;
    padding: 5px;
}

/*-------------------------------------------*/

.chat{
    background-color: #a2bca5;
    height: 600px;
}

.chat_chating{
    background-color: rgb(233, 255, 228);
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}

.chat_input_box{
    background-color: white;
    height: 30px;
    margin: 10px;

    margin-top: 500px;
    padding: 3px;
}

.chat_input{
    border: 2px solid #ade0b3;
    width: 350px;
    height: 25px;
}

.btn{
    background-color: #ade0b3;
}

.todo_text{
    border: none;
}

/*-------------------------------------------*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}
  